.holyGrailLayout{
    display: grid;
        grid-template-columns: minmax(15ch,20%) 1fr minmax(15ch,20%);
        grid-template-rows: auto 1fr auto;
        gap:1rem;
        color: white;
}

.holyGrailLayout .header{
    grid-column: 1/-1;
    padding: 1rem;
    border:0.5rem solid  #d11c58;
    border-radius: 0.2rem;
}

.holyGrailLayout .navbar{
    grid-column: span 1;
    padding: 1rem;
    border:0.5rem solid  #d11c58;
    border-radius: 0.2rem;
}

.holyGrailLayout .mainContainer{
    /* grid-column: 1/-1; */
    padding: 1rem;
    border:0.5rem solid  #d11c58;
    border-radius: 0.2rem;
}

.holyGrailLayout .rightSidebar{
    /* grid-column: 1/-1; */
    padding: 1rem;
    border:0.5rem solid  #d11c58;
    border-radius: 0.2rem;
}

.holyGrailLayout .footer{
    grid-column: 1/-1;
    padding: 1rem;
    border:0.5rem solid  #d11c58;
    border-radius: 0.2rem;
}

@media screen and (max-width:100ch){


    .holyGrailLayout{
           
      display: grid;
    grid-template-columns:  1fr minmax(15ch,30%);
    grid-template-rows: auto 1fr auto auto;
    gap:1rem;
    }

    .holyGrailLayout .navbar{
        grid-column: 1/-1;
    }

    .holyGrailLayout .mainContainer{
        grid-column: 1/-1;
        padding: 1rem;
        border:1rem solid white;
    }

    .holyGrailLayout .rightSidebar{
        grid-column: 1/-1;
    }

    
    

}