*{
    overflow: hidden;
}
.scrollSnap{
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow: hidden;

    overflow-y: scroll;
    height: 100vh; /* Set a fixed height for the container */
}

.scrollSnap .card {
    border: 1rem solid black;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    scroll-snap-align: center; /* Snap at the start of each item */
    text-align: center;
}

.scrollSnap p{
    font-size: 3rem;
}