@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.main{
    text-align: center;
    justify-content: center ;
}

.main .heading{
    font-size: 3rem;
}

.main .tasks{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 50px;
}

.main .tasks .task{
    padding: 5rem;
    border: 1px solid white;
}

.main .tasks a{
    text-decoration: none;
    color: inherit;
}

.main .tasks .task:hover{
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}